.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 88px;

    @mixin atMedium {
      padding-top: 60px;
    }
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2.4rem;
    margin: 0;

    @mixin atSmall {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.5rem;
    margin: 0;

    @mixin atSmall {
      font-size: 2.9rem;
    }
  }

  &__description {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    max-width: 30rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    margin-left: auto;
    margin-right: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }
  }
}
